@use 'sass:math';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../RightSideBar/RightSideBar.scss';
$vw-viewport: 1920;

@function get-vw($font) {
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return math.div($font, $vw-context) * 1vw;
}

@function pxToRem($px) {
	@return math.div($px, 16) + rem;
}

.DoorContainer {
	.SideTopDoor {
		width: get-vw(423px);
		margin: get-vw(163px) 0 0 17.8%;
	}
	.DoorDetails {
		.DoorImgContainer {
			//padding-top: get-vw(350px);
			//position: absolute;
			//bottom: get-vw(20px);

			//left: 25%;
			img {
				max-height: get-vw(520px);
			}
			.DoorImg {
				width: get-vw(340px);
				max-width: get-vw(250px);
				&.mirrored {
					transform: scaleX(-1);
				}
			}
			.ColorSideRight {
				max-width: get-vw(86px);
			}
			.ColorSideLeft {
				max-width: get-vw(86px);
			}
			.ColoCenter {
			}
			&.color-centerimg {
				//position: absolute;
				// z-index: 0;
				margin-left: get-vw(253px);
				margin-top: get-vw(-520px);
				//left: 27%;
			}
			&.colorimg {
				img {
					opacity: 0.85;
				}
			}
			&.doors {
				width: get-vw(665px);
				//margin-left: 27%;
				padding: 0;
				//margin-top: 25%;
			}
			&.m-t {
				margin-top: 25%;
			}
			&.GlassImg {
				position: absolute;
				z-index: -3;
				//bottom: 0;
				//margin-top: 0px;
				margin-left: 27%;
				//left: 27%;
			}
		}
	}
}
@media (max-width: 1370px) {
	.DoorContainer {
		.DoorDetails {
			.DoorImgContainer {
				&.colorimg {
					//margin-top: -367.5px;
					left: 24.5%;
				}
				&.GlassImg {
					position: absolute;
					//margin-left: -3px;
				}
				&.doors {
					padding: 0;
					//margin-top: 165px;
					//margin-left: 163px;
				}
				&.m-t-mob {
					margin-top: 0 !important;
				}
				// .DoorImg {
				// 	min-width: get-vw(100px);
				// 	min-height: get-vw(240px);
				// 	margin: 0;
				// }
			}
		}
	}
}

@media (max-width: 1200px) {
	$vw-viewport: 390;
	@function get-vw($font) {
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return math.div($font, $vw-context) * 1vw;
	}
	.scrollable-container {
		overflow-y: scroll;
		overflow-x: hidden;
		position: relative;
	}

	.sticky-block {
		position: -webkit-sticky; /* Для поддержки старых версий Safari */
		position: sticky;
		top: 0;
		z-index: 10;
	}

	.DoorContainer {
		.DoorDetails {
			margin-bottom: get-vw(50px);
			&.m-l-30 {
				margin-left: 30%;
			}
			&.m-l-40 {
				margin-left: get-vw(145px);
			}
			.DoorImgContainer {
				&.colorimg {
					margin-top: get-vw(-235px);
					left: 38%;
					margin-left: 0;
				}
				&.GlassImg {
					position: absolute;
					//margin-left: get-vw(50px);
					margin-left: 0;
					margin-top: get-vw(113px);
				}

				&.doors {
					padding: 0;
					margin-top: get-vw(113px);
					margin-left: 0;
					// img {
					// 	max-height: get-vw(200px);
					// }
					.sideLeft {
						max-height: get-vw(235px);
					}
					.sideRight {
						max-height: get-vw(235px);
					}
				}
				&.m-t-mob-none {
					margin-top: 0 !important;
				}
				.DoorImg {
					min-width: get-vw(100px);
					min-height: get-vw(235px);
					margin: 0;
					&.m-l {
						margin-left: get-vw(39px);
					}
				}
				.ColorSideRight {
					max-height: get-vw(235px);
					max-width: get-vw(39px);
				}
				.ColorSideLeft {
					max-height: get-vw(235px);
					max-width: get-vw(39px);
				}
				img {
					margin-left: 0;
				}
			}
		}
		.SideTopDoor {
			width: get-vw(178.5px);
			margin: get-vw(83px) 0 0 27.5%;
		}
	}
}
