@use 'sass:math';
@import 'bootstrap/dist/css/bootstrap.min.css';
$vw-viewport: 1920;

@function get-vw($font) {
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return math.div($font, $vw-context) * 1vw;
}

@function pxToRem($px) {
	@return math.div($px, 16) + rem;
}
.DoorDetails {
	.DoorImgContainer {
		padding-top: get-vw(350px);
		position: absolute;
		top: 0;
		left: 0;
		.DoorImg {
			max-width: get-vw(200px);
			max-height: get-vw(350px);
		}
	}
}

@media (max-width: 768px) {
	$vw-viewport: 390;
	@function get-vw($font) {
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return math.div($font, $vw-context) * 1vw;
	}
	.DoorDetails {
		// margin-left: 38%;
		margin: 0 0 get-vw(66px) 38%;
		// width: 100%;

		.DoorImgContainer {
			padding-top: get-vw(90px);
			position: relative;
			&.colorimg {
				position: absolute;
				top: 0;
				left: 38%;
			}
			&.GlassImg {
				display: none;
			}
			.DoorImg {
				min-width: get-vw(100px);
				min-height: get-vw(240px);
				margin: 0;
			}
		}
	}
}
