@use 'sass:math';
@import 'bootstrap/dist/css/bootstrap.min.css';
$vw-viewport: 1920;

@function get-vw($font) {
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return math.div($font, $vw-context) * 1vw;
}

@function pxToRem($px) {
	@return math.div($px, 16) + rem;
}
.DoorContainer {
	.DoorDetails {
		.DoorImgContainer {
			//padding-top: get-vw(350px);
			//position: absolute;
			//bottom: get-vw(20px);
			left: 25%;
			.DoorImg {
				width: get-vw(340px);
				max-width: get-vw(280px);
				max-height: get-vw(580px);
				&.mirrored {
					transform: scaleX(-1);
				}
			}
			&.colorimg {
				position: absolute;
				z-index: 0;
				margin-top: get-vw(-580px);
				left: 25%;
				img {
					opacity: 0.85;
				}
			}
			&.doors {
				margin-left: 25%;
				padding: 0;
				margin-top: 18%;
			}
			&.GlassImg {
				position: absolute;
				z-index: -3;
				//bottom: 0;
				margin-top: 0px;
				left: 25%;
			}
		}
	}
	.side-right {
		gap: get-vw(100px);
		.btn-group-vertical {
			.btn {
				border: none;
				justify-content: end;
				img {
					width: 50px;
					margin-left: auto;
				}
				&.active {
					background: none;
				}
				&:active {
					background: none;
				}
				&:focus-visible {
					background: none;
				}
				&:hover {
					background: none;
				}
			}
		}
	}
}
@media (max-width: 1370px) {
	.DoorContainer {
		.DoorDetails {
			.DoorImgContainer {
				&.colorimg {
					margin-top: -412.5px;
					left: 24.5%;
				}
				&.GlassImg {
					position: absolute;
					margin-left: -3px;
				}
				&.doors {
					padding: 0;
					margin-top: 120px;
					margin-left: 163px;
				}
				// .DoorImg {
				// 	min-width: get-vw(100px);
				// 	min-height: get-vw(240px);
				// 	margin: 0;
				// }
			}
		}
	}
}

@media (max-width: 1200px) {
	$vw-viewport: 390;
	@function get-vw($font) {
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return math.div($font, $vw-context) * 1vw;
	}
	.DoorDetails {
		margin: 0 0 get-vw(50px) 38%;

		.DoorImgContainer {
			//padding-bottom: get-vw(90px);
			//position: relative;
			//left: 0;
			//bottom: -15px;
			&.colorimg {
				margin-top: get-vw(-240px);
				left: 38%;
			}
			&.GlassImg {
				position: absolute;
				margin-left: get-vw(50.5px);
			}
			&.doors {
				padding: 0;
				margin-top: get-vw(105px);
				margin-left: 0;
			}
			.DoorImg {
				min-width: get-vw(100px);
				min-height: get-vw(240px);
				margin: 0;
			}
		}
	}
}
