@use 'sass:math';
@import 'bootstrap/dist/css/bootstrap.min.css';
$vw-viewport: 1920;

@function get-vw($font) {
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return math.div($font, $vw-context) * 1vw;
}

@function pxToRem($px) {
	@return math.div($px, 16) + rem;
}

.switch-form {
	.switch-btn {
		width: get-vw(135px);
		.form-check-input {
			margin-top: get-vw(110px);
			width: get-vw(120px);
			height: get-vw(50px);
			background-image: url('../../public/icons/red-circle.png');
			background-size: get-vw(40px);
			&:checked {
				background-color: #ffffff;
				border-color: #ffffff;
			}
			&:focus {
				border-color: #ffffff;
				box-shadow: none;
			}
		}
		.form-check-label {
			width: get-vw(65px);
			font-size: get-vw(16px);
			margin-top: get-vw(-37px);
			margin-left: get-vw(7px);
		}
	}
	.switch-checked-btn {
		.form-check-label {
			margin-left: get-vw(-15px);
		}
	}
}
@media (max-width: 1200px) {
	$vw-viewport: 390;
	@function get-vw($font) {
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return math.div($font, $vw-context) * 1vw;
	}
	@function pxToRem($px) {
		@return math.div($px, 16) + rem;
	}
	.switch-form {
		position: absolute;
		right: 0;
		top: pxToRem(25);
		.switch-btn {
			width: pxToRem(150);
			.form-check-input {
				width: pxToRem(140);
				height: pxToRem(55);
				background-image: url('../../public/icons/red-circle.png');
				background-size: pxToRem(45);
				&:checked {
					background-color: #ffffff;
					border-color: #ffffff;
				}
				&:focus {
					border-color: #ffffff;
					box-shadow: none;
				}
			}
			.form-check-label {
				font-size: pxToRem(20);
				margin-top: pxToRem(-43);
				margin-left: pxToRem(10);
			}
		}
		.switch-checked-btn {
			.form-check-label {
				margin-left: pxToRem(-20);
			}
		}
	}
}
