@use 'sass:math';
@import 'bootstrap/dist/css/bootstrap.min.css';
$vw-viewport: 1920;

@function get-vw($font) {
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return math.div($font, $vw-context) * 1vw;
}

@function pxToRem($px) {
	@return math.div($px, 16) + rem;
}

.side-right {
	gap: get-vw(100px);
	.btn-group-vertical {
		padding: 0 12px;
		.btn {
			border: none;
			justify-content: end;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 52px;
			width: 50px;
			background-color: transparent;
			margin-left: auto;
			margin-bottom: 10px;
			img {
				width: 50px;
				margin-left: auto;
			}
			&.active-first {
				background-image: url('../../public/icons/side-default_active.svg');
			}
			&.default-first {
				background-image: url('../../public/icons/side-default.svg');
			}
			&.active-top {
				background-image: url('../../public/icons/side-top_active.svg');
			}
			&.default-top {
				background-image: url('../../public/icons/side-top.svg');
			}
			&.active-right {
				background-image: url('../../public/icons/side-right_active.svg');
			}
			&.default-right {
				background-image: url('../../public/icons/side-right.svg');
			}
			&.active-left {
				background-image: url('../../public/icons/side-left_active.svg');
			}
			&.default-left {
				background-image: url('../../public/icons/side-left.svg');
			}
			&.active-right-left {
				background-image: url('../../public/icons/side-right_left_active.svg');
			}
			&.default-right-left {
				background-image: url('../../public/icons/side-right_left.svg');
			}
			&.active-left-top {
				background-image: url('../../public/icons/side-left_top_active.svg');
			}
			&.default-left-top {
				background-image: url('../../public/icons/side-left_top.svg');
			}
			&.active-right-top {
				background-image: url('../../public/icons/side-right_top_active.svg');
			}
			&.default-right-top {
				background-image: url('../../public/icons/side-right_top.svg');
			}
			&.active-lrt {
				background-image: url('../../public/icons/side-left_top_right_active.svg');
			}
			&.default-lrt {
				background-image: url('../../public/icons/side-left_top_right.svg');
			}

			&:focus-visible {
				background: none;
			}

			&:hover:nth-child(1) {
				background-image: url('../../public/icons/side-default_active.svg');
			}
			&:hover:nth-child(2) {
				background-image: url('../../public/icons/side-top_active.svg');
			}
			&:hover:nth-child(3) {
				background-image: url('../../public/icons/side-right_active.svg');
			}
			&:hover:nth-child(4) {
				background-image: url('../../public/icons/side-left_active.svg');
			}
			&:hover:nth-child(5) {
				background-image: url('../../public/icons/side-right_left_active.svg');
			}
			&:hover:nth-child(6) {
				background-image: url('../../public/icons/side-left_top_active.svg');
			}
			&:hover:nth-child(7) {
				background-image: url('../../public/icons/side-right_top_active.svg');
			}
			&:hover:nth-child(8) {
				background-image: url('../../public/icons/side-left_top_right_active.svg');
			}
		}
	}
}
@media (max-width: 1200px) {
	$vw-viewport: 390;
	@function get-vw($font) {
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return math.div($font, $vw-context) * 1vw;
	}
	.side-right {
		.btn-group-vertical {
			position: absolute;
			top: 20px;
			z-index: 100000;
			left: 0;
		}
	}
}
